*{
    margin:0; padding:0; list-style: none; text-decoration: none;
    position: relative;
}


main{
    width:100%; height:1080px;
}

header{
    height:192px;
}

.header-logo-container{
    width:252px; height:42px; overflow: hidden;
    
}
.header-logo-container,
.header-nav-container{
    margin-right:280px;
}
.header-logo-container,
.header-nav-container,
.main-nav > li,
.search-lang-container form{
    float:left;
}