@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
    font-family: 'SANJUGotgam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.header-nav-container,
.search-container form input[type="search"]{
    font-family: 'pretendard', sans-serif;
}

.lang-container{
    font-family: 'Roboto', sans-serif;
}

*{
    margin:0; padding:0; list-style: none; text-decoration: none;
}


body{
    -ms-overflow-style: none;
    scrollbar-width: none;
    width:1920px;
}
body::-webkit-scrollbar{
    display: none;
}



header{
    width:100%;
    text-align: center;
    padding:60px 0;
}

.header-logo-container,
.header-nav-container,
.search-container,
.search-container form,
.lang-container{
    float:left;
}

.header-container{
    width:1728px;
    margin:0 auto;
    overflow: hidden;
}

.logo-container{
    position: relative;
}
.hidden{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px 1px 99.9% 99.9%);
    overflow: hidden;
    width:1px; height:1px;
    left:50%; top:50%;
}


.header-nav-container{
    margin:0 200px;
}
.main-nav{
    overflow: hidden;
}
.main-nav > li{
    float:left;
    line-height: 42px;
    width:102px;
    box-sizing: border-box;
}
.main-nav > li:not(:last-of-type){
    margin-right:124px;
}
.main-nav > li > a{
    font-size:24px;
    font-weight: 600;
    color:#222;
    display: block;
    height:100%;

}

.sub-nav{
    margin-top: 36px;
    line-height: 32px;
}
.sub-nav > li{
    height:36px;
}
.sub-nav a{
    font-size:16px;
    font-weight:400;
    color:#969696;
}
.sub-nav a:after{
    display:block;
    content: '';
    border-bottom: solid 2px #D81B16;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.sub-nav a:hover:after{
    transform: scaleX(1);
}


.search-lang-container{
    overflow: hidden;
    padding-top:3px;
}

.search-container{
    position: relative;
    border: 2px solid #000;
    border-radius: 72px;
    width:200px;
    margin-right:16px;
}
.search-container form input{
    width:150px; height:32px;
    border:none; outline: none;
    vertical-align: middle;
}
.search-container form input[type="search"]{
    font-size:14px;
    font-weight:400;
}
.search-container .search-icon{
    vertical-align: middle;
    padding:4px;
}


.lang-container{
    line-height: 36px;
}
.lang-container a{
    font-size:16px;
    font-weight: 700;
    color:#333;
}