@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@font-face {
    font-family: 'SANJUGotgam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.header-nav-container,
.search-container form input[type="search"]{
    font-family: 'pretendard', sans-serif;
}

.lang-container,
.view-container h2{
    font-family: 'Roboto', sans-serif;
}

*{
    margin:0; padding:0; list-style: none; text-decoration: none;
}


body{
    -ms-overflow-style: none;
    scrollbar-width: none;
    width:1920px;
}
body::-webkit-scrollbar{
    display: none;
}


.logo-container,
.search-container,
.main-slider-container div,
.view-container,
.product,
.affection-container ul li,
.product-list,
.about-orion,
.global-orion,
.global_explanation,
.sns-icon,
.world-map-location{
    position: relative;
}

.hidden,
.main-slider-container div h2,
.circle-container,
.section-circle-deco svg,
.view-container video,
.view-container h2,
.product:after,
.affection-container ul li h2,
.left-img-container,
.right-container,
.right-img-container,
.left-container,
.global-introduce,
.global_explanation p,
.move-global-page,
.world-map-location img,
.world-map-location svg,
.sns-icon span,
.world-location{
    position: absolute;
}

.header-logo-container,
.header-nav-container,
.search-container,
.main-nav > li,
.search-container form,
.lang-container,
.main-slider-container div,
.product,
.affection-container ul li,
.circle,
.global-introduce ul li a,
.icon-space-container{
    float:left;
}

header{
    width:100%;
    text-align: center;
    padding:60px 0;
    position: fixed;
    transition: 700ms;
    z-index: 9999;
}
header:hover{
    background-color: #fff;
}

.header-container{
    width:1728px;
    margin:0 auto;
    overflow: hidden;
}

.hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px 1px 99.9% 99.9%);
    overflow: hidden;
    width:1px; height:1px;
    left:50%; top:50%;
}


.header-nav-container{
    margin:0 200px;
}
.main-nav{
    overflow: hidden;
    height:40px;
    transition: 700ms;
}
.main-nav:hover{
    height:300px;
}
.main-nav > li{
    line-height: 42px;
    width:102px;
    box-sizing: border-box;
}
.main-nav > li:not(:last-of-type){
    margin-right:124px;
}
.main-nav > li > a{
    font-size:24px;
    font-weight: 600;
    color:#333;
    display: block;
    height:100%;

}

.sub-nav{
    margin-top: 36px;
    line-height: 32px;
}
.sub-nav > li{
    height:36px;
}
.sub-nav a{
    font-size:16px;
    font-weight:400;
    color:#969696;
    display: inline-block;
}
.sub-nav a:after{
    display:block;
    content: '';
    border-bottom: solid 2px #D81B16;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.sub-nav a:hover:after{
    transform: scaleX(1);
}


.search-lang-container{
    overflow: hidden;
    padding-top:3px;
}

.search-container{
    border: 2px solid #333;
    border-radius: 72px;
    width:200px;
    margin-right:16px;
}
.search-container form input{
    width:150px; height:32px;
    border:none; outline: none;
    vertical-align: middle;
}
.search-container form input[type="search"]{
    font-size:14px;
    font-weight:400;
    background-color: transparent;
}
.search-container .search-icon{
    vertical-align: middle;
    padding:8px;
}


.lang-container{
    line-height: 36px;
}
.lang-container a{
    font-size:16px;
    font-weight: 700;
    color:#333;
}
.filter-view{
    filter: invert(1);
    transition: 500ms;
}
.header-container:hover .filter-view{
    filter:invert(0);
}

.scroll-top-move-btn{
    width: 72px;
    height: 72px;
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 9999;
    cursor: pointer;
}
.scroll-top-move-btn:hover{
    box-shadow: 0px 3px 4px rgb(0 0 0 / 25%);
    border-radius: 50%;
}

section{
    transition: 1s;
}



.slider-big-container{
    width:1920px;
    overflow: hidden;
}
.main-slider-container div{
    text-align: center;
    width:1920px; height:100vh;
}
.main-slider-container div h2{
    left:50%; top:50%;
    transform: translate(-50%, -50%);
    font-family: 'SANJUGotgam';
    font-size:48px;
    color:#333333;
}
.main_section-01{
    background: url(../images/main_section_image01.png) no-repeat center / cover;
}
.main_section-02{
    background: url(../images/main_section_image02.png) no-repeat center / cover;
}
.main_section-03{
    background: url(../images/main_section_image03.png) no-repeat center / cover;
}

.circle-container{
    z-index: 9998;
    left:50%; top: 900px;
    transform: translateX(-50%);
    
}
.circle{
    width:16px; height:16px;
    border-radius: 50%;
    background-color: #fbfbfb;
    margin:0 24px;
    transition: 300ms;
    cursor: pointer;
}
.circle.active{
    border: 2px solid #fbfbfb;
    background-color: transparent;
    box-sizing: border-box;
}

.product-view{
    width:100%; height:100vh
}

.view-container{
    width:100%; height:50vh;
}
.view-container video{
    width:100%; height:100%;
    object-fit: cover;
    transition: 700ms;
}
.pause-video{
    opacity: 0;
}
.view-container h2{
    font-weight: 700;
    font-size:48px;
    color:#333;
    left:50%; top:50%;
    transform: translate(-50%, -50%);
}
.choose-product{
    cursor: pointer;
}

.product-list{
    width:100%; height:50vh;
    overflow: hidden;
}
.left-circle-deco{
    left:-150px;
}
.right-circle-deco{
    right:-100px; top:100px;
}

.product-container{
    overflow: hidden;
    width:1500px;
    margin:0 auto;
    padding: 84px 0;
    text-align: center;
}
.product{
    width:234px;
    margin: 0 120px;
}
.product:after{
    content: '';
    width:150px;
    height:2px;
    background-color: #D81B16;
    left:50%; top:262px;
    transform: translateX(-50%);
}
.product-img-container{
    width:234px; height:234px;
    border-radius: 50%;
    overflow: hidden;
    transition: 700ms;
}
.product-img-container:hover{
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}
.product-img-container img{
    width:100%; height:100%;
    object-fit: cover;
}
.product a{
    display: block;
    width: 70px;
    margin:0 auto;
    border: 1px solid #D81B16;
    border-radius: 50px;
    padding: 4px 12px;
    font-size: 16px;
    color: #969696;
    transition: 500ms;
    margin-top:62px;
}
.product a:hover{
    background-color: #D81B16;
    color:#fbfbfb;
}
.font-pretendard{
    font-family: 'pretendard';
}
.font-roboto{
    font-family: 'Roboto';
}

/* 높이 조정, 이미지 박스 쉐도우 */


.affection-container{
    width:100%; height:100vh;
}
.affection-container ul{
    overflow: hidden;
}
.affection-container ul li{
    width:33.33%;
    height:100vh;
    text-align: center;
}

.affection-container ul li::before {
    background-color: #000;
    display: block;
    height: 100%;
    content: '';
    opacity: 0.3;
    transition: 0.5s;
}
.affection-container ul li:hover::before{
    opacity: 0.1;
}
.affection-img-container01{
    background: url(../images/sec03_img01.png) no-repeat center / cover;
}
.affection-img-container02{
    background:  url(../images/sec03_img02.png) no-repeat center / cover;
}
.affection-img-container03{
    background:  url(../images/sec03_img03.png) no-repeat center / cover;
}
.affection-container ul li h2{
    left:50%; top:50%;
    transform: translate(-50%, -50%);
    font-family: 'pretendard';
    font-size:32px;
    color:#fbfbfb;
}
.affection-container ul li h2 span{
    color:#D81B16;
}


.operation-container .header-section{
    display:block;
    width:100%;
    height: 20vh;
    background-color: #fbfbfb;
    cursor:default;
}
.operation-container > div:nth-of-type(2){
    background-color: #53A8BC;
}
.operation-container > div:nth-of-type(3){
    background-color: #D81B16;
}
.operation-container > div:nth-of-type(4){
    background-color: #DABB85;
}
.operation-container > div:nth-of-type(5){
    background-color: #6F5944;
}
.about-orion{
    width:100%; height:65vh;
    transition: 700ms;
}



.modify{
    height: 20vh;
    transition: 700ms;
    cursor: pointer;
}
.modify:not(:first-of-type)::after{
    content: '';
    background-color: black;
    height: 100%;
    display: block;
    opacity: 0.2;
    transition: 500ms;
}
.modify:hover::after{
    opacity: 0;
}
.modify .left-img-container{
    display: none;
}
.modify .right-container{
    text-align: center;
    left:50%; top:50%;
    transform: translate(-50%, -50%);
}
.modify .right-container p{
    display: none;
}
.modify .right-img-container{
    display: none;
}
.modify .left-container{
    text-align: center;
    left:50%; top:50%;
    transform: translate(-50%, -50%);
}
.modify .left-container p{
    display: none;
}

.hide-section{
    height: 5vh;
    transition: 700ms;
    cursor: pointer;
}
.hide-section .right-container,
.hide-section .left-container{
    width:100%;
}
.hide-section .left-img-container,
.hide-section .right-img-container,
.hide-section .right-container br,
.hide-section .left-container br,
.hide-section .right-container p,
.hide-section .left-container p{
    display: none;
    text-align: center;
}
.hide-section .left-container{
    left:0;
    text-align: center;
}
.hide-section .right-container{
    right:0;
    text-align: center;
}
.hide-section:not(:first-of-type)::after{
    content: '';
    background-color: black;
    height: 100%;
    display: block;
    opacity: 0.2;
    transition: 500ms;
}
.hide-section:hover::after{
    opacity: 0;
}

.left-img-container{
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.right-container{
    width: 600px;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.right-img-container{
    right:10%;
    top:50%;
    transform: translateY(-50%);
}
.left-container{
    width:600px;
    left:20%;
    top:50%;
    transform: translateY(-50%);
}
.about-orion h2{
    font-family: 'pretendard';
    font-size:42px;
    font-weight: 400;
    color:#fbfbfb;
}
.about-orion h2 span{
    font-weight: 700;
}
.about-orion p{
    font-family: 'pretendard';
    color:#fbfbfb;
    margin-top:42px;
    line-height: 24px;
}


.global-orion{
    width:100%; height:80vh;
    background-color: #fbfbfb;
}
.global-introduce{
    width:650px; height:574px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    left:10%; top:50%;
    transform: translateY(-40%);
    backdrop-filter: blur(10px);
    z-index: 1;

}
.global-title-container{
    margin-top:88px;
}
.global-title-container h2{
    font-family: 'pretendard';
    font-size:48px;
    width: 520px;
    margin: 0 auto;
}
.global-introduce h2 span{
    font-size:96px;
    color:#D81B16;
}
.global-introduce ul{
    overflow: hidden;
    width: 572px;
    margin: 0 auto;
}
.global-introduce ul li{
    margin-top:16px;
}
.global-introduce ul li a{
   height:50px;
   border:1px solid #D81B16;
   padding:2px;
   border-radius: 50px;
   font-family: 'Roboto';
   font-size: 24px;
   font-weight: 600;
   color:#333;
   transition: 700ms;
   text-align: center;
   font-family: 'Roboto';
   line-height: 48px;
   padding:0 16px;
   margin:0px 32px;
}
.global-introduce ul li a:hover{
    background-color: #D81B16;
    color:#fbfbfb;
}
.global_explanation{
    width: 520px;
    margin: 0 auto;
}
.global_explanation p{
    font-family: 'pretendard';
    font-size:20px;
    font-weight: 500;
    color:#333;
    margin-top: 30px;
    transition: 300ms;
}
.hide-global{
    opacity: 0;
}
.move-global-page{
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    border: 1px solid #D81B16;
    padding: 12px 24px;
    border-radius: 50px;
    font-family: 'pretendard';
    font-size: 24px;
    color:#D81B16;
    transition: 700ms;
}
.move-global-page:hover{
    background-color: #D81B16;
    color:#fbfbfb;
}
.world-map-location{
    height:80vh;
}
.world-map-location img{
    right:10%; top:50%;
    transform: translateY(-45%);
}
.world-map-location svg{
    transition: 500ms;
}
.china-location{
    right: 22%;
    top: 44%;
}
.vietnam-location{
    right: 21%;
    top: 55%;
}
.russia-location{
    right: 23%;
    top: 30%;
}
.hide-location{
    opacity: 0;
}


footer{
    background-color: #222;
    height: 20vh;
}
.footer-wrapper{
    width:1580px;
    margin: 0 auto;
}


.left-area{
    float:left;
    margin-top:2vh;
    width: 1400px;
}
.top-area,
.mid-area,
.bottom-area{
    margin-top:12px;
}
.top-area a,
.mid-area p,
.bottom-area p{
    font-family: 'pretendard';
    font-size:14px;
    font-weight: 500;
    color:#fbfbfb;
}
.green-word{
    color:#15AB49;
}
.footer-logo-container{
    width: 120px; display: inline-block;
    vertical-align: middle;
}
.mid-area p{
    display: inline-block;
}
.bottom-area p{
    display: inline-block;
}
.bottom-area p a{
    color:#fbfbfb;
    font-weight: 200;
}
.copyright{
    font-family:'Roboto';
    font-size:12px;
    color:#fbfbfb;
    margin-top: 20px;
}
.top-area a:not(:last-of-type)::after{
    content: '';
    display: inline-block;
    width: 2px;
    margin-left: 8px;
    height: 10px;
    background-color: #969696;
}
.mid-area p::before{
    content: '';
    display: inline-block;
    width: 2px;
    margin-right: 8px;
    height: 10px;
    background-color: #969696;
}
.bottom-area p:not(:last-of-type)::after{
    content: '';
    display: inline-block;
    width: 2px;
    margin-left: 8px;
    height: 10px;
    background-color: #969696;
}



.right-area{
    float: left;
    width: 180px;
    position: relative;
}
.family-site{
    border: 2px solid #969696;
    border-bottom: none;
    position: absolute;
    width: 176px;
    opacity: 0;
    transition: 1000ms;
}
.family-site li{
    margin-bottom: 8px;
    padding-left: 8px;
}
.family-site li a{
    font-family: 'Roboto';
    font-size:14px;
    color:#969696;
}
.family-site-button{
    border: 2px solid #969696;
    width: 180px;
    display: block;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 82px;
    padding: 2px 8px;
}
.family-site-button span{
    color: #969696;
    font-family: 'Roboto';
    font-size: 14px;
    vertical-align: middle;
    margin-right: 52px;
}
.family-site-button svg{
    vertical-align: middle;
}
.sns-container{
    overflow: hidden;
    margin-top: 20px;
}
.icon-space-container:not(:last-of-type){
    margin-right:28px;
}
.sns-icon{
    width:24px; height: 24px;
    display: block;
}
.sns-icon span{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px 1px 99.9% 99.9%);
    overflow: hidden;
    width:1px; height:1px;
    left:50%; top:50%;
}
